@media(max-width:640px) {
    nav {
        display: none;
    }
    .section-title {
        display: grid;
        align-items: center;
        font-size: 90px;
    }
    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contato {
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 90px;
    }
    .contato-container {
        display: flex;
        align-self: flex-start;
        gap: 20px;
        font-size: 15px;
    }
    .contato-item {
        display: flex;
    }
    .social-container {
        display: flex;
        gap: 90px;
    }
    .link-container {
        display: flex;
        align-self: flex-end;
        gap: 20px;
        font-size: 15px;
    }
}