@media(max-width:640px) {
    nav {
        display: none;
    }
    .projetos {
        display: flex;
        align-items: center;
        font-size: 90px;
        height: auto;
    }
    .section-title {
        display: grid;
        align-items: center;
        font-size: 90px;
    }
    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
    }
    .contato {
        display: flex;
        flex-direction: column;
        height: 700px;
    }
    .social-container {
        display: flex;
        height: 300px;
    }
}


}