:root {
    --primary-color: #fedc00;
    --icon-color: #252525;
}

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-areas: "content";
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    background-color: black;
}

header {
    grid-area: content;
    z-index: 666;
    max-width: 1200px;
    place-self: start center;
    width: 100%;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    height: 100vh;
}

footer {
    grid-area: content;
    place-self: end center;
    height: 50px;
    width: 100%;
    display: grid;
    place-content: center;
    border-top: 2px solid #ffffff;
    font-size: .75rem;
}

.menuzinho {
    display: none;
}